*{
  box-sizing: border-box;
}

body{
	background-color: #110000;
}

.square{
	font-size:50px;
	text-decoration: none;
	color: black;
	font-family:'Press Start 2P', Courier, sans-serif;
	background-size: cover;
	background-color: none;
	float:left;
	position:relative;
	width:50%;
	margin:0%;
}


.top{
	height:50vh;
	font-size:30px;
}

.bottom{
	height:50vh;
	font-size:35px;
}

.top{
	border-top:10px solid white;
	border-bottom:5px solid white;
}
.bottom{
	border-top:5px solid white;
	border-bottom:10px solid white;
}
.left{
	border-left:10px solid white;
	border-right:5px solid white;
}
.right{
	border-left:5px solid white;
	border-right:10px solid white;
}

/*
#j{
	background: url(images/jump.png)no-repeat center center;
}

#g{
	background: url(images/go.png)no-repeat center center;
}

#f{
	background: url(images/item.png)no-repeat center center;
}

#b{
	background: url(images/brake.png)no-repeat center center;
}*/